
.logo {
    height: 650px;
    background-image: url(pic1.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 5px;
}

li {
    margin-left: 20px;
}

.title {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 60px;
    color: blue;
    font-weight: bold;
    font-size: 30px;
}



.offers {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 60px;
    color: blue;
    font-weight: bold;
    font-size: 30px;
}

.onekind .image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image img {
    width: 100px;
}
button a{
    color: #fff;
}

button a:hover{
    color: #fff;
    text-decoration: none;
    
}

li {
     list-style-type:none;
     margin-bottom: 10px;
}

span {
    color:red
}
.details {
    background-color: white;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    display: none;
    z-index: 10;
}

.details .close {
    position: absolute;
    right: 10px;
    top: 0;
    color: black;
    text-shadow: 1px 1px 1px black;
}

.details .card img{
    max-height: 350px;
}


.card img {
    max-height: 200px;
}

.card {
    margin-top: 10px;
}


.details a {
    text-decoration:none;
    color: #fff;
}

.marie60 {
    display: none;
}


.card {
    position: relative;
 
}

.card .abs {
    position: absolute;
    bottom: 50px;
    height: 100px;
  
}

.card .not{
    position: absolute;
    height: 30px;
    width: 100px;
    top: 10px;
    right: 10px;
    color: red;
    background-color: black;
    text-align: center;
    border-radius: 10px;
   
}


.testmonial .carousel-item{
    height: 200px;
}

.testmonial1 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.testmonial1 .carousel-item{
    height: 300px;
}



.testmonial1 img{
    height: 300px;
    width: 100px;
}

.testmonial1 span {
    background-color:darkslategray;
    border-radius:50%;
}


.testmonial {
    height: 100px;
    text-align: center;
}


.person1 img {
    height: 60px;
    border-radius: 50%;
}
